**/.DS_Store
**/.ipynb_checkpoints
**dataset/
**datasets/
cyclistic_google/case_study/
cyclistic_google/chicago_shp_files/
cyclistic_google/figures/
assessments_technical
bellabeat_google/dataset/
bellabeat_google/case_study/
hdb_flats_analysis/utility
